@model IEnumerable<Delta_Impuls.Models.lj>

@{
    ViewBag.Title = "Index";
}

<h2>Licenties junioren</h2>

<p>
    @Html.ActionLink("Licentie junior toevoegen", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Licenties junioren
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lj1)
        </td>
        <td>
            @Html.ActionLink("Bewerk", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Verwijder", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
