
@{
    ViewBag.Title = "License";
}

<h2>Licenties</h2>


@Html.ActionLink("Licentie senior toevoegen", "Index", "Ls", null, new { @class = "btn btn-default btn-large" })
@Html.ActionLink("Licentie junior toevoegen", "Index", "Ljs", null, new { @class = "btn btn-default btn-large" })

