@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Het is niet gelukt uw actie te voltooien.</h2>
<h4 class="text-danger">Neem contact op met uw website beheerder indien deze melding vaker voorkomt.</h4>

