@model Delta_Impuls.Models.ls

@{
    ViewBag.Title = "Delete";
}

<h2>Licentie senior verwijderen</h2>

<h3>Weet u zeker dat u deze licentie wilt verwijderen?</h3>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijderen" class="btn btn-default" /> |
            @Html.ActionLink("Vorige", "Index")
        </div>
    }

