@model IEnumerable<Delta_Impuls.Models.ls>

@{
    ViewBag.Title = "Index";
}

<h2>Licenties senioren</h2>

<p>
    @Html.ActionLink("Licentie senior toevoegen", "Create") 
</p>
<table class="table">
    <tr>
        <th>
            Licenties senioren
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ls1)
        </td>
        <td>
            @Html.ActionLink("Bewerk", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Verwijder", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
