@model IEnumerable<Delta_Impuls.Models.category>

@{
    ViewBag.Title = "Categorieën ";
}

<h2>Categorieën</h2>

<p>
    @Html.ActionLink("Categorie toevoegen", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Categorieën
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.category_name)
        </td>
        <td>
            @Html.ActionLink("Bewerk", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Verwijder", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
