/* Body of the application */
body {
    padding-top: 90px;
    padding-bottom: 20px;
    padding-right: 500px;
    background-color: #ececec;
}

img{
    width: 100px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


    /* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
    .dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #ffffff;
    border-color: #ccc8c8;
}

.navbar-inverse a:hover {
    background-color: #ff0000;
    border-color: #ccc8c8;
}
.nav navbar-nav a:hover {
    color: #000000 !important;
    
}

/* Navbar-inverse hover and focus color black */
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #000000;
    background-color: transparent;
}
/* Navbar-inverse hover and focus color black */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #000000;
    background-color: transparent;
}

.navbar-inverse .navbar-brand {
        color: #004988;
}

.navbar-inverse .navbar-toggle {
        border-color: #064a84;

}

.navbar-inverse .navbar-nav > li > a {
        color: #004988;

}

@media (min-width: 768px) {
    .container > .navbar-header,
    .container > .navbar-collapse {
        margin-right: 0;
        margin-left: -40px;
    }
}


